html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: grey;

}

.main-content {
  flex: 1;
}


.header {
  background-image: url('/src/assets/banner.jpg'); /* Adjust the path as needed */
  background-size: cover;
  background-position: center;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  background-color: transparent;
}

.navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: 'Your Font Family', sans-serif;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  
}

.navbar h1 {
  color: white;
  font-size: 40px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

